@model Feebl.Demand

<div class="tile bg-color-darken outline-color-darken image">
  <div class="tile-content">
    <a class="back-button big" href="#" onclick="history.go(-1); return false;"></a>
  </div>
</div>

<div class="tile double outline-color-pink bg-color-red">
  <div class="tile-content">
    
    <br /><br />
    <h1 style="font-size: 90px !important;">ORLY?</h1>
    <br /><br />
    @using (Html.BeginForm())
    {
      <input type="submit" value="YRLY" />
      <a href="#" onclick="history.go(-1); return false;">nothnx</a>
    }

  </div>
</div>
